<% provide(:title, 'Sign in') %>
<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-xs-12">
			<h1> Sign in </h1>
			<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email %>
			<%= f.label :password %>
		<%= f.password_field :password %>
			<%= f.submit "Sign in", class: "btn signup_btn2", style: "margin-top: 30px;" %>
			<% end %>
			<span><%= link_to "Forgotten password?", new_password_resets_path, class: "link" %></span>
			<span class="pull-right">New user? <%= link_to "Sign up now!", signup_path, class: "link" %></span>
		</div>
	</div>
		<div class="row">
		<div class="col-md-offset-3 col-md-6 col-xs-12">

		<p class="quote"> “Organization isn't about perfection; it's about efficiency, reducing stress and clutter, saving time and money and improving your overall quality of life.”</p>
		<p class="pull-right christina"> - Christina Scalise </p> 
	</div>
	</div>
</div>