<span class="each_tag_container<%= tag.id %>_<%= task.id %>" >
  <span class="each_tag" style="background-color: <%= tag.color %>;"> <%= tag.name %> </span>
  <span class="x-button-tag ib" data-tagid="<%= tag.id %>"> </span>
</span>